body{
    background-color: #fff;
    
}
h1{
    color: #424242
}

.grid{
    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    padding: 10px;
    gap: 50px;
}

.card-container{
    height: 150px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-color: #089cf1;
    border-radius:0px 10px;
}

.card-container > p{
    color: #424242;
    font-size: 20px;
    font-weight: bold;
    background-color: aliceblue;
    border-radius: 0px 10px;
    
}

.text{
    max-width: 1200px;
}